h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5em;
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
}

.person-box {
    margin: 15px;
    background-color: #FFFFFF;
    border: 1px solid #e8e8e8;
    text-decoration: none solid rgba(0, 0, 0, 0.65);
}

.upper-half {
    height: 50%;
    overflow: hidden;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
}

.upper-half img {
    width: 100%;
    height: 100%;
}

.lower-half {
    padding: 20px;
}

.lower-half p {
    margin-left: 10px;
    color: rgba(0, 0, 0, .65)
}

/* likes button */
.like-button.liked {
    background-color: red;
    color: white;
}

/* styles for edit pane */
.edit-menu {
    height: 30vh;
    width: 40vw;
    background-color: aqua;
}